<section>
    <div class="about-container">
        <img src="https://campusvirtual.poligran.edu.co/img/logopoli_w.png" alt="Politécnico Grancolombiano">
        <h4 class="title">INSTITUCION UNIVERSITARIA POLITÉCNICO GRANCOLOMBIANO</h4>
        <p class="title">FACULTAD DE INGENIERÍA, DISEÑO E INNOVACIÓN</p>
        <P class="title">INGENIERÍA DE SOFTWARE</P>
        <p class="title">Proyecto enpelotas.com</p>
        <p>Este sitio fue realizado con propósitos educativos para el área de Desarrollo de Software en Equipo - TSP (2020-1) - impartida por:</p>
        <p class="emph">ISABEL ANDREA MAHECHA NIETO</p>
        <p>-Miembros del equipo-</p>
        <ul>
            <li><a href="mailto:eivelezb@poligran.edu.co">EIDER GIOVANNI VELEZ BENAVIDES - Team leader</a></li>
            <li><a href="mailto:cafranco4@poligran.edu.co">CARLOS ANDRES FRANCO RESTREPO - WebMaster</a></li>
            <li><a href="mailto:wilopezp@poligran.edu.co">WILMER LOPEZ PEÑA - Support Manager</a> </li>
            <li><a href="mailto:diparram3@poligran.edu">DIANA CAROLINA PARRA MEJIA - Planing manager</a></li>
            <li><a href="mailto:Jezamora@poligran.edu.co">JOHN EDISON ZAMORA GAMBA - Quality process</a></li>
            <li><a href="mailto:clcelisp@poligran.edu.co">CLAUDIA ESPERANZA CELIS PALACIO - Development manager</a></li>
            <li><a href="mailto:pelotas.tsp@gmail.com">Contacto</a></li>
        </ul>
        <p>El sitio web y los productos mostrados no reflejan una actividad comercial real, su propósito es netamente educativo</p>
        <p>Las imágenes y descripciones usadas fueron tomadas de fabricantes de los productos bajo reutilización sin modificaciones y únicamente para fines demostrativos.</p>
    </div>
</section>
