<nav>
    <div class="menu-top">
        <div class="logo">
            <a href=""><img src="https://cdn.pixabay.com/photo/2019/06/30/21/08/balloon-4308798_960_720.png" alt=""></a>
            <a href="">EnPelotas<sub>.com</sub></a>
        </div>
         <div class="options">
             <div >
                <input (keyup.enter)="items.SearchBalls( searched.value )" type="text" placeholder="Buscar..." #searched>
             </div>
            <div >
                <a (click)="Carrito()"><i class="fas fa-cart-plus pointer"><span class="count">{{items.cartCount}}</span></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a routerLink="/info" target="_blank"><i class="far fa-question-circle"></i></a>
            </div>
        </div>
        <div *ngIf="!items.userActive">
            <a class="pointer" (click)="Login()">Inicia sesión</a>
            <a class="pointer" (click)="SignUp()">Registrate</a>
        </div>
        <div *ngIf="items.userActive">
            <a (click)="CloseSesion()"><i class="far fa-user-circle user"></i></a>
            <p>{{nombreUsuario}}</p>
        </div>
    </div>
    <div class="menu-links">
        <div>
            <ul class="menu-list">
                <li><a routerLink="/inicio">Inicio</a></li>
                <li><a routerLink="/futbol">Fútbol</a></li>
                <li><a routerLink="/futbol-sala">Fútbol Sala</a></li>
                <li><a routerLink="/baloncesto">Baloncesto</a></li>
                <li><a routerLink="/tennis">Tennis</a></li>
                <li><a routerLink="/voleybol">Voleybol</a></li>
            </ul>
        </div>
        <div>
            
        </div>
    </div>
</nav>

<div>
    <div *ngIf="login" class="modal-box">
        <div class="modal-content">
          <button (click)="Login()" class="close">&times;</button>
          <!-- Contenido -->
          <!-- Contenido -->
          <div class="form-container">
            <label for="usuario"><b>Nombre de usuario</b></label>
            <input type="text" placeholder="Alias" name="usuario" #useralias>
            <label for="contraseña"><b>Contraseña</b></label>
            <input type="password" placeholder="Contraseña" name="contraseña" #userpass>
            <button (click)="ReadUser( useralias.value , userpass.value)" class="">Inicia sesión</button>
          </div>
        </div>
    </div>
</div>

<div>
    <div *ngIf="signUp" class="modal-box">
        <div class="modal-content">
          <button (click)="SignUp()" class="close">&times;</button>
          <!-- Contenido -->
          <div class="form-container">
            <label for="usuario"><b>Nombre de usuario</b></label>
            <input type="text" placeholder="Alias" name="usuario" #usuario>
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" placeholder="Nombre" name="nombre" #nombre>
            <label for="apellido"><b>Apellido</b></label>
            <input type="text" placeholder="Apellido" name="apellido" #apellido>
            <label for="correo"><b>Email</b></label>
            <input type="text" placeholder="Correo" name="correo" #correo>
            <label for="contraseña"><b>Contraseña</b></label>
            <input type="password" placeholder="Contraseña" name="contraseña" #contrasena>
            <button (click)="PushUser(usuario.value , nombre.value , apellido.value , correo.value ,  contrasena.value)" class="">Registrate</button>
          </div>
        </div>
    </div>
</div>

<div>
    <div *ngIf="carrito" class="modal-box">
        <div class="modal-content">
          <button (click)="Carrito()" class="close">&times;</button>
          <!-- Contenido -->
          <div class="items-section">
              <h3>Carrito de compras</h3>
            <div class="item-container" *ngFor="let item of items.carrito; let i = index">
                <img src="{{ item.image }}" alt="">
                <p>{{ item.title }} - (X{{ item.quantity }}) -</p>
                <p class="item-price">${{ item.price | number }}</p>
            </div>
            <p class="p-padding">TOTAL: ${{ items.cartTotal | number }}</p>
            <a routerLink="/info" target="_blank" class="a-btn">Comprar</a>
        </div>
        </div>
    </div>
</div>
