<nav>
    <div class="menu-top">
        <div class="logo">
            <a href=""><img src="https://cdn.pixabay.com/photo/2019/06/30/21/08/balloon-4308798_960_720.png" alt=""></a>
            <a href="">EnPelotas<sub>.com</sub></a>
         </div>
         <div class="options">
            <input (keyup.enter)="items.SearchBalls( searched.value )" type="text" placeholder="Buscar..." #searched>
            <a (click)="Carrito()"><i class="fas fa-cart-plus"><span class="count">{{items.cartCount}}</span></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a (click)="Login()">Inicia sesión</a>
            <a (click)="SignUp()">Registrate</a>
        </div>
    </div>
    <div class="menu-links">
        <ul class="menu-list">
            <li><a routerLink="/inicio">Inicio</a></li>
            <li><a routerLink="/futbol">Fútbol</a></li>
            <li><a routerLink="/futbol-sala">Fútbol Sala</a></li>
            <li><a routerLink="/baloncesto">Baloncesto</a></li>
            <li><a routerLink="/tennis">Tennis</a></li>
            <li><a routerLink="/voleybol">Voleybol</a></li>
        </ul>
    </div>
</nav>

<div>
    <div *ngIf="login" class="modal-box">
        <div class="modal-content">
          <button (click)="Login()" class="close">&times;</button>
          <p>Inicia sesion</p>
        </div>
    </div>
</div>

<div>
    <div *ngIf="signUp" class="modal-box">
        <div class="modal-content">
          <button (click)="SignUp()" class="close">&times;</button>
          <p>Registrate</p>
        </div>
    </div>
</div>

<div>
    <div *ngIf="carrito" class="modal-box">
        <div class="modal-content">
          <button (click)="Carrito()" class="close">&times;</button>
          <p>Tu carrito esta vacio</p>
        </div>
    </div>
</div>
