<nav>
    <div class="menu-top">
        <div class="logo">
            <a href=""><img src="https://cdn.pixabay.com/photo/2019/06/30/21/08/balloon-4308798_960_720.png" alt=""></a>
            <a href="">EnPelotas<sub>.com</sub></a>
         </div>
         <div class="options">
            <input type="text" placeholder="Buscar...">
            <a href=""><i class="fas fa-cart-plus"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="menu-links">
        <li><a href="">Inicio</a></li>
        <li><a href="">Fútbol</a></li>
        <li><a href="">Fútbol Sala</a></li>
        <li><a href="">Baloncesto</a></li>
        <li><a href="">Tennis</a></li>
        <li><a href="">Voleybol</a></li>
    </div>
</nav>
