*{
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: o none;
    outline: 0;
    margin: 0;
    padding: 0;   
}
/* body {
    background-color: #ffdd90;
    background-image: url(https://www.elcolombiano.com/documents/10157/0/580x396/0c15/580d365/none/11101/FJHJ/image_content_28193644_20170307083250.jpg);
    background-repeat: repeat;
    background-position : center;
} */