<section>
    <!-- imagen de la señora - Por Giovanny -->
    <img src="https://okdiario.com/img/2018/05/25/inventor-del-futbol-655x368.jpg" alt="" class="banner">
    <h4>Todos los balones ({{items.futbol.length}})</h4>
    <div class="items-section">
        <div class="item-container" *ngFor="let item of items.futbol; let i = index">
            <a (click)="items.GoDetails(item.sku)"><img src="{{ item.image }}" alt=""></a>
            <a (click)="items.GoDetails(item.sku)"><h3>{{ item.title }}</h3></a>
            <p class="item-brand">{{ item.brand }}</p>
            <p class="item-desc">{{ item.short_desc }}</p>
            <p class="item-price">${{ item.price | number }}</p>
            <!-- quantity selector -->
            <button (click)="items.ChangeQuantity(1,'-', i , item.quantity)" class="quantity-btn">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="items.ChangeQuantity(1,'+', i , item.quantity)" class="quantity-btn">+</button><br>
            <!-- qs end -->
            <button (click)="items.AddToCart(item.title, item.image, item.price, item.quantity, item.sku)">Añadir</button>
        </div>
    </div>
</section>