<section>
    <!-- imagen de la señora - Por Giovanny -->
    <img src="https://cdn.pixabay.com/photo/2019/04/06/20/39/volleyball-4108313_960_720.jpg" alt="" class="banner"> 
    <h4>Todos los balones ({{items.voleybol.length}})</h4>
    <div class="items-section">
        <div class="item-container" *ngFor="let item of items.voleybol; let i = index">
            <img src="{{ item.image }}" alt="">
            <h3>{{ item.title }}</h3>
            <p class="item-brand">{{ item.brand }}</p>
            <p class="item-desc">{{ item.short_desc }}</p>
            <p class="item-price">${{ item.price | number }}</p>
            <!-- quantity selector -->
            <button (click)="ChangeQuantity('-', i , item.quantity)" class="quantity-btn">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="ChangeQuantity('+', i , item.quantity)" class="quantity-btn">+</button><br>
            <!-- qs end -->
            <button (click)="AddToCart(item.title, item.image, item.price, item.quantity, item.sku)">Añadir</button>
        </div>
    </div>
</section>