<section>
    <!-- imagen de la señora - Por Giovanny
    <img src="" alt=""> -->
    <h2>Todos los balones (20)</h2>
    <div class="items-section">
        <div class="item-container" *ngFor="let item of items.productos">
            <img src="{{ item.image }}" alt="">
            <h3>{{ item.title }}</h3>
            <p class="item-brand">{{ item.brand }}</p>
            <p class="item-desc">{{ item.short_desc }}</p>
            <p class="item-price">${{ item.price | number }}</p>
            <button class="quantity-btn">-</button><span>{{ item.quantity }}</span><button class="quantity-btn">+</button><br>
            <button>Añadir</button>
        </div>
    </div>
</section>

