<footer>
  <div class="container-footer-all">
    <link rel="stylesssheet" href="font.css">
    <link rel="stylesssheet" href="main.css">
  <div class="container-body">
    <div class="informacion">
        <h1>
          Historia de Mongui Boyacá
        </h1>
        <p>
          Una vista del interior de una tienda donde se venden y 
          fabrican balones de fútbol hechos a mano en Monguí en el 
          departamento de Boyacá, Colombia. Monguí es un pueblo colonial 
          donde casi toda su economía crece alrededor del balón de fútbol 
          hecho a mano. Alrededor de 6.000 residentes participan en la 
          fabricación de pelotas de fútbol o en la producción de materiales 
          para tal fin.
        </p>
    </div>
    
    <div class="social">
      <h1>Redes Sociales</h1>
        <ul>
              <li><a href="http://www.facebook.com/" target="_blank" class="fab fa-facebook"></a></li> 
              <li><a href="https://www.twitter.com" target="_blank" class="fab fa-twitter"></a></li>
              <li><a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a></li>
        </ul>
          
      </div>
    
      <div class="contacto">
        <h1>Información de Contacto</h1>
        <ul>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7939.860094071873!2d-72.8534663285219!3d5.7232165587961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a492a3e9913f9%3A0xac30644ba57db764!2zTW9uZ3VpLCBNb25ndcOtLCBCb3lhY8Oh!5e0!3m2!1ses-419!2sco!4v1593974817262!5m2!1ses-419!2sco" width="140" height="60" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <li><a href="https://api.whatsapp.com/send?phone=+0573204923502&text=mensaje" target="_blank" class="fa fa-whatsapp"></a></li>
          <li><a href="https://accounts.google.com/signin/v2/identifier?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Fpc%3Dtopnav-about-n-en&flowName=GlifWebSignIn&flowEntry=AddSession" target="_blank" class="fa fa-envelope-o"></a></li>
        </ul>

             

      </div>
      
  </div>
  <div class="container-footer">
    <div class="copyright">
      <a href="https://es.wikipedia.org/wiki/Todos_los_derechos_reservados#:~:text=La%20frase%20%22Todos%20los%20derechos%20reservados%22%20era%20suficiente%20para%20dar,acciones%20legales%20que%20pod%C3%ADan%20resultar">{{anio}} Todos los derechos reservados</a>
    
    </div>

    <div class="informetion">
      <a href="">"Información de la empresa"</a> | <a href="">Privación y Politicas"</a> | <a href="">Terminos y Condiciones"</a>


    </div>

  </div>
</div>
</footer>