*{
   margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    background: gray;
   }
.container-footer-all{
    width: 100%;
    max-width: auto;
    margin: auto;
    padding: 40px;

}

.container-body{
    display: flex;
    justify-content: space-between;
}
.colom1{
    max-width: 300px;
}
.colom1 h1{
    font-size: 22px;
    color: black;
}

.colom1 p{
font-size: 60px;
color: #c7c7c7;
margin-top: 20px;

}

.colum2{
    max-width: 400px;

}

.colom2 h1{
    font-size: 22px;
    color: black;
    
}
.row2{
    margin-top: 20px;
    display: flex;

}

.row img{
    width: 365x;
    height: 36px;
}
.row2 label{

    margin-top: 10px;
    margin-left: 10px;
    color: black;
}

.colum3{
    max-width: 400px;

}
.colum3 h1{
    font-size: 22px;
    color: black;

}

.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
   margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
    

}
.container-footer{
    width: 100%;
    background:#424242;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    


}
.copyright a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;

}