<footer>
  <div class="container-footer-all">
    <link rel="stylesssheet" href="font.css">
    <link rel="stylesssheet" href="main.css">
  <div class="container-body">
    <div class="colum1">
        <h1>
          Historia de Mongui Boyacá
        </h1>
        <p>
          Una vista del interior de una tienda donde se venden y 
          fabrican balones de fútbol hechos a mano en Monguí en el 
          departamento de Boyacá, Colombia. Monguí es un pueblo colonial 
          donde casi toda su economía crece alrededor del balón de fútbol 
          hecho a mano. Alrededor de 6.000 residentes participan en la 
          fabricación de pelotas de fútbol o en la producción de materiales 
          para tal fin.
        </p>
    </div>
    
    <div class="social">
      <h1>Redes Sociales</h1>
        <ul>
              <li><a href="http://www.facebook.com/" target="_blank" class="fab fa-facebook"></a></li> 
              <li><a href="https://www.twitter.com" target="_blank" class="fab fa-twitter"></a></li>
              <li><a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a></li>
        </ul>
          
      </div>
    
      <div class="colum3">
        <h1>Informacion de Contacto</h1>
        <div class="row2">
          <li><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7939.860094071873!2d-72.8534663285219!3d5.7232165587961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a492a3e9913f9%3A0xac30644ba57db764!2zTW9uZ3VpLCBNb25ndcOtLCBCb3lhY8Oh!5e0!3m2!1ses-419!2sco!4v1593974817262!5m2!1ses-419!2sco" target="_blank" class="fa fa-home" aria-hidden="true"></a></li>
          <i class="fa fa-home" aria-hidden="true"></i>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7939.860094071873!2d-72.8534663285219!3d5.7232165587961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a492a3e9913f9%3A0xac30644ba57db764!2zTW9uZ3VpLCBNb25ndcOtLCBCb3lhY8Oh!5e0!3m2!1ses-419!2sco!4v1593974817262!5m2!1ses-419!2sco" width="150" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>            
        </div>

        <div class="row2">
          <li><a href="https://api.whatsapp.com/send?phone=+0573204923502&text=mensaje" target="_blank" class="fa fa-whatsapp" aria-hidden="true"></a></li>
          <label>3204923502</label>  
                    
        </div>

        <div class="row2">
          <li><a href="https://www.instagram.com" target="_blank" class="fa fa-envelope-o" aria-hidden="true"></a></li>
           <label> Empelotas.com</label>            
        </div>

      </div>
      
  </div>
  <div class="container-footer">
    <div class="copyright">
      <a href="">{{anio}} Derechos de autor Reservados</a>
    </div>

  </div>
</div>
</footer>