<!-- <footer class="ae-container-fluid rk-footer "></footer>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">About</a>
          </li>
          <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Docs</a>
          </li>
          <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact</a>
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} URKU PORTFOLIO </span>All Right Reserved.</p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
          </svg></a></div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-color ">contact@urkuportfolio.com </a></span></p>
        <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p>
      </div>
    </div>
  </footer> -->
  <footer>
    <div class="container-footer-all">

    <div class="container-body">
      <div class="colum1">
          <h1>
            Historia de Mongui Boyacá
          </h1>
          <p>
            Una vista del interior de una tienda donde se venden y 
            fabrican balones de fútbol hechos a mano en Monguí en el 
            departamento de Boyacá, Colombia. Monguí es un pueblo colonial 
            donde casi toda su economía crece alrededor del balón de fútbol 
            hecho a mano. Alrededor de 6.000 residentes participan en la 
            fabricación de pelotas de fútbol o en la producción de materiales 
            para tal fin.
          </p>
      </div>

      <div class="colom2">
          <h1>redes solciales</h1>
          
          <div class="row">
            <img src="./assets/imagenes/Facebook.jpg">
            <label> Siguenos en facebook</label>          
          </div>

          <div class="row">
            <img src="./assets/imagenes/twitter.jpg">
            <label> Siguenos en twitter</label>
          </div>

      </div>
        <div class="colum3">
          <h1>informacion contactos</h1>
          <div class="row2">
            <img src="./assets/imagenes/casa.jpg">
            <label> bongui boyaca colombia</label>            
          </div>

          <div class="row2">
            <img src="./assets/imagenes/telefono.jpg">
            <label>3204923502</label>            
          </div>

          <div class="row2">
            <img src="./assets/imagenes/correo.png">
            <label> pelotas.com</label>            
          </div>

        </div>
        
    </div>
    <div class="container-footer">
      <div class="copyright">
        <a href="">{{anio}} derechos de autor reservados</a>
      </div>

    </div>
  </div>
  </footer>