*{
    margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 
 }
 
 footer{
     width: 100%;
     background: #ebe5e5 ;
 
    }
 .container-footer-all{
     width: 100%;
     max-width: auto;
     margin: auto;
     padding: 40px;
 
 }

 .informacion h1{
     
    font-size: 22px;
    color: black;
    font-weight: bold

    
}
/* texto de informacion mongui*/
.informacion p{
font-size: 16px;
margin-top: 20px;
text-align: justify;


}
 .lu{
     z-index: 2000;
     
 }
 
 .social ul {
     list-style: none;
 }

.social h1 ul:hover ul li a{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.4);
    filter: none;
}
.social h1 ul li a.facebook:hover{
    background: var(--facebook); 
}
.social h1 ul li a.twitter:hover{
    background: var(--twitter); 
}


 .social ul li a {
     display: inline-block;
     color:#fff;
     background: #000;
     line-height: 40px;
     padding: 5px 10px;
     text-decoration: none;
     -webkit-transition:all 500ms ease;
     -o-transition:all 500ms ease;
     transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
 }
    
/* hover icono redes sociales*/
     .social ul li a:hover {
         background:rgb(34, 34, 31); /* Cambiamos el fondo cuando el usuario pase el mouse */
         padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
     }
     
 .container-body{
     display: flex;
     justify-content: space-between;
 }
 
 
 .informacion{
     max-width: 400px;
 }
 

 
 .social{
     max-width: 400px;
 
 }
 /* informacion de redes*/
 .social h1{
     font-size: 22px;
     color: black;
     font-weight: bold
     
 }
 
 /* informacion de contacto*/
 .contacto h1{
     font-size: 22px;
     color: black;
     font-weight: bold

 }
 /* estilo oscuro informacion de contacto*/
 .social li{
    display: inline-block;
    margin: o 5px;
    display: flex;  
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
      
 }
 .contacto ul li a:hover {
    background:rgb(34, 34, 31); /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */

 }
 .contacto li{
    display: inline-block;
    margin: o 5px;
    display: flex;  
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 5px;

 }


 .container-footer{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background: rgba(0,0,0,0.75);
     margin-top: 20px;   
     -webkit-box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
     
 }
 .copyright a{
     text-decoration: none;
     color: #c7c7c7;
     font-weight: bold;

    
 
 }

 .informetion{
    text-decoration: none;
     color: #c7c7c7;
     font-weight: bold;
     
 }
 .informetion a{
    color: blue;
     
 }
 .contacto ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 5px 10px;
    line-height: 40px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.75);
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */ 
 }


    @media screen and (max-width:1100px){
 
     .container-body{
         flex-wrap: wrap;
     }
 
     .informacion{
         max-width: 100%;
     }
 
     .social,
     .contacto,
     .container-footer{
         margin-top: 30px;

     }
     .contacto ul li a {
     display: inline-block;
     color:#fff;
     background: #000;
     padding: 10px 15px;
     text-decoration: none;
     -webkit-transition:all 500ms ease;
     -o-transition:all 500ms ease;
     transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
 }
:root{

    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter:#55acee;
    --whatsapp:#00bb2d;
    --correo:#E71353;
}



}